<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-database.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDEOnAifKMnPkaeZXEn61NrZsZVfp3C7nw",
        authDomain: "hackmit2018mas.firebaseapp.com",
        databaseURL: "https://hackmit2018mas.firebaseio.com",
        projectId: "hackmit2018mas",
        storageBucket: "hackmit2018mas.appspot.com",
        messagingSenderId: "421391111063"
      };
      firebase.initializeApp(config);
    </script>

    
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="../static/style.css">
   <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1><i class="em-svg em-sparkles"></i><i>Disaster Hotline</i> <i class="em-svg em-sparkles"></i></h1>
      </div>
      <div id="main">
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>
  </body>

  

</html>

