<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="../static/style.css">
   <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1><i class="em-svg em-sparkles"></i><i>F A I R W E L L</i> <i class="em-svg em-sparkles"></i></h1>
      </div>
      <div id="main">

        <form method="post" action="{{ url_for('submitted_form') }}">
          <table>
            <tr>
              <th><label class="black" for="university">University</label></th>
            </tr>
            <tr>
              <th><input class="answer" type="text" name="university"><br /></th>
            </tr>
            <tr>
              <th><label class="black" for="departure">Departure</label></th>
            </tr>
            <tr>
              <th><input class="answer" type="text" name="departure"><br /></th>
            </tr>
            <tr>
              <th><label class="black" for="destination">Destination</label></th>
            </tr>
            <tr>
              <th><input class="answer" type="text" name="destination"><br /></th>
            </tr>
            </table>

            <table>
              <tr>
              <th class="aligncenter"><label class="white" for="year">Year</label></th>
              <th class="aligncenter"><label class="white" for="month">Month</label></th>
              <th class="aligncenter"><label class="white" for="day">Day</label></th>
            </tr>

            <tr>
              <td class="aligncenter"><input class= "answer2" type="text" name="year"><br /></td>
              <td class="aligncenter"><input class= "answer2" type="text" name="month"><br /></td>
              <td class="aligncenter"><input class= "answer2" type="text" name="day"></td>
            </tr>
          </table>
            <div class="buttonHolder">
              <input class="submit" type="submit">
            </div>
        </form>
      </div>
    </div>
    <div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>
  </body>
</html>
