
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/buttonstuff.css">
    <script src="../static/buttonthings.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-storage.js"></script>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<div class="file-upload">
  <div class="file-select">
    <div class="file-select-button" id="fileButton">Choose File</div>
    <div class="file-select-name" id="noFile">No file chosen...</div> 
    <input type="file" name="chooseFile" id="chooseFile">
  </div>
</div>




    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDEOnAifKMnPkaeZXEn61NrZsZVfp3C7nw",
        authDomain: "hackmit2018mas.firebaseapp.com",
        databaseURL: "https://hackmit2018mas.firebaseio.com",
        projectId: "hackmit2018mas",
        storageBucket: "hackmit2018mas.appspot.com",
        messagingSenderId: "421391111063"
      };

      // const db = firebase.database();
      // const storage = firebase.storage();

      // export{storage, db}

      // import { storage } from '~/plugins/firebase.js'

      firebase.initializeApp(config);
      var uploader = document.getElementById('uploader');
      var fileButton = document.getElementById('chooseFile');
      var fbBucketName = 'hackmit2018mas';

      // Listen for file selection
      fileButton.addEventListener('change', function(e) {
        // get file
        var file = e.target.files[0];

        //create storage ref
        var storageRef = firebase.storage().ref().child(fbBucketName + '/hurricanecoming.mp3');

        // upload file
        console.log(file!=null);
        storageRef.put(file);


      });

    </script>


  <h2>Record</h2>
      <p>
          <button id=record></button>
          <button id=stopRecord disabled>Stop</button>
      </p>
      <p>
          <audio id=recordedAudio></audio>
  
      </p>
    
  </head>
  <body>
    <a href="/process"><input type="button" value="Submit"></a>
    <div id="container">
      <div class="pagetitle">
        <h1><i class="em-svg em-sparkles"></i><i>Disaster Hotline</i> <i class="em-svg em-sparkles"></i></h1>
      </div>
  </body>

  

</html>

